* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: lightblue; */
  display: flex;
  justify-content: center;
}

.main-wrapper {
  /* border: 2px solid rgb(215, 148, 221); */
  width: 50vw;
}

.app__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
  height: 50px;
  /* background: chartreuse; */
}

.app__headerImage {
  /* background: red; */
  padding-top: 10px;
}

.menu__avatar {
  object-fit: contain;
  width: 10px;
  height: 10px;
  /* border: 2px solid black; */
}

.input-search {
  position: absolute;
  right: 380px;
  /* top: 4px; */
  outline: none;
  background: black;
}
input[type="search"] {
  width: 210px;
  height: 27px;
}

input:focus {
  outline: none;
}

#site-search::-webkit-input-placeholder {
  padding-left: 70px;
}

.menu__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background: chartreuse; */
  div {
    margin-left: 15px;
    color: #414141;
    svg {
      font-size: 25px;
    }
  }

  div:nth-child(5) {
    margin-left: 5px;
  }
  /* border: 2px solid red; */
}

.profile {
  /* border: 2px solid rgb(0, 0, 0); */
}

/* Main Channel section */

.MainChannelInfo__wrap {
  /*  border: 2px solid lightcoral; */
  display: flex;
  flex-direction: row;
}

.main-avatar {
  /* border: 2px solid rgb(255, 0, 0); */
  width: 320px;
}

.channel__info {
  /* border: 2px solid rgb(128, 148, 240); */
  height: 280px;
}

.user__subscribe__settings {
  /*   border: 2px solid orange; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 620px;
  height: 80px;
  margin-bottom: 10px;
  div {
    margin-right: 15px;
  }
  button {
    background: #0095f6;
    color: #fff;
    border: none;
    height: 30px;
    width: 62px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
  }
  button:hover {
    cursor: pointer;
  }
  h1 {
    color: #545454;
  }
  .settings {
    cursor: pointer;
    svg {
      font-size: 22px;
      font-weight: 300;
    }
  }
}

.counters {
  /* border: 2px solid rgb(255, 0, 221); */
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  height: 40px;
  span {
    margin-right: 20px;
  }
}

.channel__text {
  height: 170px;

  p {
    font-size: 18px;
  }
  p:nth-child(1) {
    margin-top: 0;
  }
}

/* Posts section */

.posts__wrap {
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  background: rgb(0, 0, 0); */
  height: 50px;
}

.posts__menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 410px;
  /* background: rgb(218, 154, 154); */
  height: 40%;
  li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
      font-size: 14px;
      padding-left: 5px;
      color: #8e8e8e;
    }
    svg {
      color: #404040;
    }
  }
  li:hover {
    cursor: pointer;
  }
}

.posts__menu__list::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  bottom: 33.5px;
  background: #262626;
}

/* Posts */

.posts__items__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background: red;
  border: 2px solid black; */
  /* width: 50vw; */
}

.post__image__wrap {
  width: 295px;
  height: 295px;
  margin-right: 36px;
  margin-bottom: 36px;
  img {
    width: 295px;
    height: 295px;
  }
}
